html {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;

  .wrap{
    min-height: 100%;
  }

  .main{
    overflow:auto;
	  padding-bottom: 0em;
  }

  .footer {
    position: relative;
    margin-top: -5em;
    height: 5em;
    clear: both;
  }

  .page-footer{
  }

  .actions{
    margin-top: 60px;
  }

  .login-info{
    margin-right: 20px;

    span {
      font-size: 1.3em;
    }
  }
}
